@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
  background: hsl(30, 18%, 87%)

}
.container{
    max-width:800px;
    background-color: #fff;
    margin:0 auto;
    padding:0 1.2rem
  
}
figure{
    display: block;
   
}
 img{
    width:100%;
    max-width: 800px;
    padding:1rem;
    height: auto;
}

figcaption{
    font-size: 2rem;
    font-weight: bolder;
    padding:6px;
}
section{
    margin-top: 10px;
    padding:6px;
}

.para .para__p{
    color:#333;
    line-height:1.5;
    /* padding:1rem */
}
.section-prep{
    position: relative;
    background-color: hsl(330, 100%, 98%);
    padding:10px 0;

}

.section-prep h2{
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
    font-size:1.3rem;
    position: relative;
    left:1rem;
    /* margin-left:1rem ; */

}
.section-prep ul li{
    position: relative;
    left:2rem;
    line-height: 1.7;
}
/* .section-ingredients{
    width:400px
} */
.section-ingredients h2{
    color:hsl(14, 45%, 36%);
    position: relative;
    left:1rem;
}
.section-ingredients ul li{
    position: relative;
    left:1.5rem;
    line-height:1.5;
    
   
}

.section-ingredients ul{
   margin-top: 1rem;

}
.section-instructions h2{
    position: relative;
     color:hsl(14, 45%, 36%);
    
}
/* .section-instructions{
     display: flex;
    flex-direction: row;;
} */
.section__instructions__li{
    margin-top:0.5rem;
    position: relative;
    /* left:1.5rem; */
    list-style: none;

   
}

.bolder{
    font-weight: bolder;
   
}
.section__nutrition__h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:hsl(14, 45%, 36%);
    font-weight: 700;

}
.section__nutrition__p{
  margin-bottom: 1rem;
}
.section__nutrition__table{
 width:100%;
 border-collapse: collapse;
}
.section__nutrition td{
    padding:12px 0;
    border-bottom: 1px solid #ddd;
}
.section__nutrition__td{
    color:#854632;
    font-weight: bolder;
}
@media screen and (min-width:430px){
    .container{
        max-width: 400px;
        padding:1rem 0;
         padding:0 1rem;
        margin: 0 auto;
        font-size:1rem
    }
}
@media screen and (min-width:576px){
    .container{
        max-width: 500px;
        margin: 0 auto;
         padding:0 1rem;
     
        font-size:1.2rem
    }
}
@media screen and (min-width:786px){
    .container{
        max-width: 700px;
         padding:0 1rem;
        margin: 0 auto;
        font-size:1.2rem

    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 900px;
        padding:0 1rem;
        margin: 0 auto;
        font-size:1.2rem
    }
}

